@import "tailwindcss";
@theme {
  --color-primary: #000000;
  --color-secondary: #a80000;
  --color-light: #d3d3d3;
  --color-accent: #0077be;
}
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
